<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Class Roster </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-sliding *ngFor="let student of students">
    <ion-item>
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label>{{student.firstName}} {{student.lastName}}</ion-label>

      <ion-icon
        *ngIf="student.status === 'present'"
        slot="end"
        name="checkmark-circle-outline"
        style="color: rgb(130, 255, 4)"
      ></ion-icon>
      <ion-icon
        *ngIf="student.status === 'absent'"
        slot="end"
        name="close-circle-outline"
        style="color: rgb(255, 4, 4)"
      ></ion-icon>

      <ion-buttons slot="end">
        <ion-button (click)="showActions(student)">
          <ion-icon slot="icon-only" name="ellipsis-horizontal-outline">
          </ion-icon>
        </ion-button>

        <ion-button>
          <ion-icon slot="icon-only" name="chevron-forward-outline"> </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option (click)="showDeleteAlert(student)" color="danger"
        >Delete
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>
