<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Attendance App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/images/classimage.png" alt="classroom" />
    <ion-card-header>
      <ion-card-subtitle> Classroom Attendance Manager </ion-card-subtitle>
      <ion-card-title> Attendance App</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Attendance App is an application desgined for teachers to help them keep
        track of the Attendaceof students.
      </p>
    </ion-card-content>
    <ion-button
      size="block"
      routerLink="/roster"
      routerDirection="forward"
      color="dark"
    >
      Go To Roster
    </ion-button>
  </ion-card>
</ion-content>
